torch==2.6.0+cu124
torchvision==0.21.0+cu124
torchaudio==2.6.0+cu124

opencv-python
numpy
Pillow
tqdm

ultralytics
mediapipe==0.10.14

onnxruntime-gpu
transformers
accelerate
timm
hydra-core
iopath
scikit-image
smplx

git+https://github.com/facebookresearch/sam2.git
git+https://github.com/facebookresearch/pytorch3d.git@stable